extends base

block content
  tr
    td
      h1(style="font-family: 'Paytone One', 'Arial Black', Arial, Helvetica, sans-serif; font-size: 24px; padding-bottom: 16px; line-height: 32px; font-weight: 400; margin: 0;")
        | Forgot your password? We've got you.
  tr
    td
      p(style="margin: 0; padding: 16px 0; font-weight: 700;")
        | Hey #{firstName}👋,
  tr
    td(style="padding: 16px 0;")
      p(style="margin: 0;")
        | No worries it happens to the best of us.
      p(style="margin: 0;")
        | Click below to reset your password and get back to planning (or crashing) events.
  tr
    td(style="padding: 16px 0; text-align: center;")
      a(href= url target="_blank" style="line-height: 10px; border-radius: 60px; padding: 16px 0; color: #aefc40; font-family: 'Paytone One', 'Arial Black', Arial, Helvetica, sans-serif; font-size: 14px; display: inline-block; text-decoration: none; width: 200px; background-color: #011f0f;")
        | Reset Password
  tr
    td(style="padding-top: 16px; font-weight: 700;")
      p(style="margin: 0;")
        | This link will expire in 15 minutes for security reasons
      p(style="margin: 0;")
        | If you didn't request this, feel free to ignore this email.
  tr
    td(style="padding: 16px 0;")
      p(style="margin: 0;") Cheers,
      p(style="margin: 0; font-weight: 700;") The Meetro Team
